@media only screen and (min-width: 800px) {
  .cardContainer {
    width: 105vh;
    height: 16vh;
    background-color: #eeffd9;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: center; */
    margin-bottom: 3vh;
    border-radius: 2vh;
    padding: 0;
    -webkit-box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
    box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
  }

  .courseimgContainer {
    text-align: center;
    height: 100%;
    margin-right: 2.5vh;
  }

  #img {
    width: 25vh;
    height: 100%;
    border-radius: 2vh 0 0 2vh;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.9vh 4vh 1.5vh 3vh;
    position: relative;
    margin-right: 19vh;
  }
  .title {
    font-size: 2.7vh;
    font-weight: 500;
    margin-bottom: 1.5vh;
    letter-spacing: -0.1vh;
  }

  .description {
    font-size: 1.5vh;
    color: #1e242a;
    font-weight: 500;
  }

  .arrowContainer {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 1vh 0 0;
  }

  .buttonContainer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .cardContainer {
    width: 30vh;
    height: 35vh;
    background-color: #eeffd9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1vh;
    margin: 0 2vh 4vh 0;
    border-radius: 4vh;
    -webkit-box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
    box-shadow: 20px 22px 33px -29px rgba(0, 0, 0, 0.77);
  }

  .courseimgContainer {
    height: 20vh;
    text-align: center;
  }

  #img {
    width: 28vh;
    height: 17vh;
    border-radius: 4vh;
    /* padding-left: 1vh; */
    text-align: center;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 1.7vh;
  }
  .title {
    font-size: 2.3vh;
    font-weight: 500;
  }

  .description {
    font-size: 1.5vh;
  }

  .arrowContainer {
    display: none;
  }

  .registerButton {
    cursor: pointer;
    margin-top: 5vh;
    width: 28vh;
    height: 4.5vh;
    border-radius: 4vh;
    background-color: #fefeeb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
}
